body {
  margin: 0;
  box-sizing: border-box;
  background-color: $color-background;
  color: $color-main;
  font-family: $main-font;
  overflow-x: hidden;
}
.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 1s ease;
  transition-duration: 150ms;
  z-index: 99;
}

.expand {
  transform: translate(-50%, -50%) scale(8);
  opacity: 0.2;
}

a {
  text-decoration: none;
  cursor: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
