body {
	margin: 0;
	box-sizing: border-box;
	color: $color-main;
	font-family: $main-font;
	position: relative;
	overflow-x: hidden;
}

.scroll {
	position: fixed;
	background-color: transparent;
	font-family: $sub-font;
	text-transform: uppercase;
	right: 3.4vw;
	bottom: 10rem;
	z-index: 1;
	font-size: 0.9rem;
	color: $color-main;
	letter-spacing: 0.5rem;
	transform: rotate(90deg);
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -6rem;
		width: 5rem;
		transform: translateY(-50%);
		background-color: $color-main;
		height: 0.1rem;
		transform-origin: left;
		animation: slideIn 2s 1 alternate;
		animation-delay: 1.5s;
	}
	@keyframes slideIn {
		0% {
			transform: translateY(-50%) scale(0);
			-webkit-transform: translateY(-50%) scale(0);
			-ms-transform: translateY(-50%) scale(0);
			-o-transform: translateY(-50%) scale(0);
		}
		100% {
			transform: translateY(-50%) scale(1);
			-webkit-transform: translateY(-50%) scale(1);
			-ms-transform: translateY(-50%) scale(1);
			-o-transform: translateY(-50%) scale(1);
		}
	}
}

.cursor {
	position: absolute;
	background: $secondary-color;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	z-index: 99;
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
	user-select: none;
	pointer-events: none;
	transform: scale(1);
	mix-blend-mode: difference;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		border-radius: 100%;
		opacity: 0;
	}
	&.active {
		opacity: 0.1;
		transform: scale(0);
		&::before {
			opacity: 0.1;
		}
	}
}

.cursor-follower {
	position: absolute;
	background: $color-main;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	z-index: 99;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
	user-select: none;
	pointer-events: none;
	transform: translate(-2px, -3px);
	opacity: 0.1;
	mix-blend-mode: difference;
	&.active {
		opacity: 0.1;
		transform: scale(2);
	}
}

.hide {
	display: none;
	opacity: 0;
}
a {
	text-decoration: none;
	cursor: none;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

/* width */
::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1.5rem 1.5rem $color-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $color-main;
}

@media (max-width: 500px) {
	.scroll {
		bottom: 8rem;
	}
	body {
		.cursor,
		.cursor-follower {
			display: none;
		}
	}
}
