/*-------------------------
*  Grid
*--------------------------*/
$columns: 12;
$gutter: 10px;
$spacing: 20;

/*-------------------------
*  Spacing
*--------------------------*/
$paddings: (
	"pt": "padding-top",
	"pr": "padding-right",
	"pb": "padding-bottom",
	"pl": "padding-left",
);
$margins: (
	"mt": "margin-top",
	"mr": "margin-right",
	"mb": "margin-bottom",
	"ml": "margin-left",
);
$page-padding: 5vw;
$content-padding: 0 0 0 5vw;

/*-------------------------
*  Media Queries
*--------------------------*/
$xs: 480px;
$sm: 600px;
$md: 800px;
$lg: 1190px;
$xl: 1440px;
$xxl: 1700px;

$breakpoints: (
	"xs": $xs,
	"sm": $sm,
	"md": $md,
	"lg": $lg,
	"xl": $xl,
);

/*-------------------------
*  Gradients
*--------------------------*/
$light-pink: linear-gradient(-225deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
$pink: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
$green: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
$light-purple: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
$purple: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$purple-dark: linear-gradient(to top, #5f72bd 0%, #886aea 53%, #6457c6 100%);
$midnight-bloom: linear-gradient(to top, #2b5876 0%, #4e4376 100%);
$orange-bloom: linear-gradient(-225deg, #fc6076, #ef9d43, #e75516);

/*-------------------------
*  Colours
*--------------------------*/

$color-background: hsl(0, 0%, 9%);
$color-background-light: hsl(0, 0%, 100%);
$color-main: hsl(0, 0%, 100%);
$color-main-lighter: hsl(0, 0%, 80%);
$secondary-color: hsl(165, 48%, 64%);
// $secondary-color: #8b3af6;
$light-gray: hsl(0, 0%, 15%);

/*-------------------------
*  Typography
*--------------------------*/
$main-font: "Montserrat", sans-serif;
$sub-font: "Poppins", sans-serif;
$base-font: "Josefin Sans", sans-serif;
$base-fs: 18px;

/*-------------------------
*  Animations
*--------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;

$height-site-header-main: 4rem;
$section-height: calc(100vh - #{$height-site-header-main});
$border-radius: 0.25rem;

/*-------------------------
*  Menu size && Bar sizes
*--------------------------*/
$menu-size: 3.3rem;
$bar1-rotation: 0.42rem;
$bar2-rotation: 0.42rem;

/*-------------------------
*  Projects Image sizes
*--------------------------*/

$img-size: 23.5rem;
