.about {
	height: 100vh;
	background-color: $secondary-color;
	color: $color-background;
	padding: 0 $page-padding;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		h2 {
			text-transform: capitalize;
			font-size: 5rem;
			color: $color-main;
			font-weight: 700;
			letter-spacing: 0.1rem;
			margin: 0;
			font-family: $sub-font;
			text-transform: uppercase;
			letter-spacing: 0.5rem;
			font-size: 1.2rem;
			padding: 0 6rem;
		}
		p {
			color: $color-main;
			padding: 0 10rem;
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 5rem;
		}
	}
}
