.foot {
	background-color: #000;
	height: 50vh;
	padding: 0 $page-padding;
	position: relative;
	display: flex;
	align-items: center;
	bottom: 0;
	.logo-wrapper {
		svg {
			width: 4rem;
			color: $color-main;
			transition: 0.25s cubic-bezier(0.23, 1, 0.32, 1);
			&:hover {
				opacity: 0.7;
			}
		}
		p {
			color: $color-main;
			font-family: $sub-font;
			span {
				svg {
					width: 1rem;
				}
			}
		}
	}
	.contact {
		margin-left: 10rem;
		margin-top: -1.5rem;

		h5 {
			margin: 0;
			font-size: 2.5rem;
			color: $color-main;
			padding-bottom: 1rem;
		}
		div {
			color: $color-main-lighter;
			font-family: $sub-font;
			a,
			span {
				text-decoration: none;
				color: $color-main;
			}
			a {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: 1.5rem;
					left: 50%;
					transform: translateX(-50%) scale(0);
					transform-origin: left;
					width: 100%;
					background-color: $color-main;
					height: 0.1rem;
					transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
				}
				&:hover::after {
					transform: translateX(-50%) scale(1);
				}
			}
		}
	}

	.back-to-top {
		display: flex;
		width: 8.7rem;
		margin-bottom: -4.2rem;
		margin-left: 10rem;
		border-bottom: 1px solid $color-main;
		transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
		opacity: 0.8;

		a {
			font-weight: 400;
			text-transform: capitalize;
			color: $color-main;
			font-family: $sub-font;
			position: relative;
		}

		svg {
			width: 1rem;
			padding-left: 0.4rem;

			fill: $color-main;
		}

		&:hover {
			opacity: 1;
		}
	}
}
@media (max-width: 768px) {
	.foot {
		flex-direction: column;
		height: auto;
		padding: 5rem $page-padding;
		.contact {
			padding: 0;
			padding-bottom: 3rem;
			text-align: center;
			margin-left: 0;
			h5 {
				font-size: 2.25rem;
			}
		}
		.logo-wrapper {
			padding-bottom: 3rem;
			text-align: center;
		}

		.back-to-top {
			margin: 0;
		}
	}
}
