.header {
  padding: 0 $page-padding;
  height: 20vh;
  width: 100vw - ($page-padding * 2);
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-wrapper {
    a {
      svg {
        color: $color-main;
        width: 4.5rem;
        margin-bottom: -2rem;
      }
    }
  }
  .cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.2rem;
      margin-right: 3rem;
      font-family: $sub-font;
      color: $color-main;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 2.3rem;
        left: 0%;
        transform: scale(1);
        transform-origin: right;
        width: 100%;
        background-color: $color-background-light;
        height: 0.08rem;
      }
    }
    .slide-vertical {
      .char {
        overflow: hidden;
        color: transparent;

        &::before,
        &::after {
          visibility: visible;
          color: $color-main;
          transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
          transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
        }

        &::before {
          transition-delay: calc(0.02s * (var(--char-index)));
        }
      }

      &:hover .char::before {
        transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
      }
      &:hover .char::after {
        transition-delay: calc(0.02s * (var(--char-index)));
      }
    }

    .slide-vertical {
      .char::before {
        transform: translateY(-100%);
      }
      &:hover .char::before {
        transform: translateY(0%);
      }
      &:hover .char::after {
        transform: translateY(100%);
      }
    }
    .hamburger {
      cursor: pointer;
      background-color: #fff;
      border-radius: 50%;
      width: 3.125rem;
      height: 3.125rem;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      .line {
        position: relative;
        width: 1.75rem;
        top: 0.8rem;
        height: 0.1rem;
        background-color: #000000;
        display: block;
        margin: 0.3rem 0.7rem;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &.is-active {
        animation: smallbig 0.6s alternate;
        background-color: #000;
        .line:nth-child(1),
        .line:nth-child(2),
        .line:nth-child(3) {
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
          background-color: #fff;
        }
        .line:nth-child(2) {
          opacity: 0;
        }
        .line:nth-child(1) {
          -webkit-transform: translateY($bar1-rotation) rotate(45deg);
          -ms-transform: translateY($bar1-rotation) rotate(45deg);
          -o-transform: translateY($bar1-rotation) rotate(45deg);
          transform: translateY($bar1-rotation) rotate(45deg);
        }
        .line:nth-child(3) {
          -webkit-transform: translateY(-$bar2-rotation) rotate(-45deg);
          -ms-transform: translateY(-$bar2-rotation) rotate(-45deg);
          -o-transform: translateY(-$bar2-rotation) rotate(-45deg);
          transform: translateY(-$bar2-rotation) rotate(-45deg);
        }
      }
    }

    @keyframes smallbig {
      0%,
      100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }

      50% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
      }
    }
    .overlay {
      overflow-x: hidden;
      height: 25rem;
      z-index: -1;
      width: 25rem;
      background-color: $color-background-light;
      position: fixed;
      right: -2rem;
      top: -4rem;
      transform: scale(0);
      border-radius: 50%;
    }
  }
}
.is-black {
  &::after,
  &::before {
    color: $color-background !important;
  }
}
.black::after {
  background-color: $color-background !important;
}
.black-logo {
  color: $color-background !important;
}
